<div *ngIf="loadingRequest()">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="mb-4 mt-3">
  <div class="col-md-12 text-center">
    <img class="logo mx-auto" src="assets/img/logo.png">
    <span class="d-block h1">ALL CANDIDATES</span>
  </div>
</div>

<!-- Displaying error -->
<div *ngIf="loadingError()">
  <p class="alert alert-danger text-center"> {{ hasErrorMessage }} </p>
</div>
<div *ngIf="loadingSuccess()">
  <p class="alert alert-success text-center"> {{ hasSuccessMessage }} </p>
</div>

<!-- Creating Table to hold all data -->
<div class="table-responsive rounded text-center">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col"> # </th>
        <th scope="col"> Image</th>
        <th scope="col"> Fullname </th>
        <th scope="col"> Category </th>
        <th scope="col"> Position </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let candidate of Candidates; let i = index;">
        <td> {{ i+1 }}</td>
        <td><img class="avatar mx-auto" src="assets/admin/account_avatar.png"></td>
        <td> {{ candidate.firstname }} {{ candidate.lastname }} </td>
        <td> {{ candidate.category_name }} </td>
        <td> {{ candidate.position_name }} </td>
      </tr>
    </tbody>
  </table>
</div>