<div class="container">
  <div class="category shadow mb-4" *ngFor="let category of groupedData;">
    <div class="category-name"> {{category.category_name}} </div>
    <div class="position mb-3" *ngFor="let position of category.positions; let j = index;">
      <div class="position-name"> {{position.position_name}} </div>
      <div class="container">
        <div class="row">
          <div class="candidates shadow-sm col-md" *ngFor="let candidate of position.candidates">
            <div class="row">
              <div class="col-4 d-flex align-items-center">
                <img src="assets/admin/account_avatar.png" class="avatar">
              </div>
              <div class="col ml-2">
                <div class="candidate-name">{{candidate.candidate_name}}</div>
                <div class="btn text-uppercase">
                  <button type="submit"  (click)="castVote(category.category_name,position.position_name,candidate.candidate_voteID)" [ngClass]="(can_vote.includes(candidate.candidate_voteID))? 'btn-vote':'btn-outline-dark btn-not-vote'">Vote</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="canSubmit()">
    <button type="submit" class="btn-vote" (click)="onSubmit()">Submit</button>
  </div>
</div>