<div class="container">
  <div class="category shadow mb-4">
    <div class="category-name">Category Name</div>
    <div class="position mb-3">
      <div class="position-name">Position Name</div>
      <div class="container">
        <div class="row">
          <div class="candidates shadow-sm col-md">Candidates</div>
          <div class="candidates shadow-sm col-md">Candidates</div>
          <div class="candidates shadow-sm col-md">Candidates</div>
        </div>
      </div>
    </div>
    <div class="position mb-3">
      <div class="position-name">Position Name</div>
      <div class="container">
        <div class="row">
          <div class="candidates shadow-sm col-md">Candidates</div>
          <div class="candidates shadow-sm col-md">Candidates</div>
          <div class="candidates shadow-sm col-md">Candidates</div>
        </div>
      </div>
    </div>
    <div class="position mb-3">
      <div class="position-name">Position Name</div>
      <div class="container">
        <div class="row">
          <div class="candidates shadow-sm col-md">Candidates</div>
          <div class="candidates shadow-sm col-md">Candidates</div>
          <div class="candidates shadow-sm col-md">Candidates</div>
        </div>
      </div>
    </div>
  </div>
</div>