<!-- Profile -->
<mat-nav-list>
  <div class="profile-card">
    <img src="assets/img/logo.png" alt="Profile Image">
    <div class="header">
      <h2>{{ name }}</h2>
      <h4>{{ email }}</h4>
    </div>
  </div>

  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">Dashboard</a>
  <div *ngIf="checkAdminStatus()">
    <mat-divider></mat-divider>
    <span matSubheader>Admin</span>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/register-admin">Register Admin</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/remove-admin">Remove Admin</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/reset-admin-password">Reset Password</a>
  </div>

  <mat-divider></mat-divider>

  <span matSubheader>Voters</span>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">View All Voters</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/register-voter">Register Voters</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">Reset Password</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/remove-voter">Delete Voters</a>
  
  <mat-divider></mat-divider>
  
  <span matSubheader>Candidates</span>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">View All Candidates</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">Register Candidates</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">Reset Password</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">Delete Candidates</a>



</mat-nav-list>