h2 {
  font-size: 18px !important;
}

h4 {
  font-size: 14px !important;
}

.profile-card {
  text-align: center;
  padding: 0 20px 20px 20px;
}

.profile-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  margin-bottom: 10px;
}