.mybtn {
  border-radius: 50px;
  background-color: #009afe;
}

.search {
  margin-bottom: 20px;
}

.logo {
  width: 250px;
}

.custom-file {
  margin-bottom: 20px;
}

.register-btn {
  margin-bottom: 10px;
}

.mask {
  background: transparent !important;
  border: none;
}