#wrapper {
  height: 100%;
  min-height: 100%;
  width: 100%;
  background-image: url('/assets/admin/background.jpg');
  background-repeat: round;
  padding-top: 6.2rem;
  padding-bottom: 6.2rem;
}

a {
  text-decoration: none !important;
}

.myform {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 1.1rem;
  outline: 0;
  max-width: 500px;
  -webkit-box-shadow: 0px 5px 18px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 18px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 18px 5px rgba(0, 0, 0, 0.75);
}

.mybtn {
  border-radius: 50px;
  background-color: #009afe;
}

.logo {
  width: 250px;
}

.brand {
  font-size: 2.5rem;
}

/* RESPONSIVE SYLING */