<div id="wrapper">
  <!-- wrapper to contain full height-->
  <div class="container">
    <div class="row">
      <div class="col-md-5 mx-auto">
        <div class="myform form">
          <div class="mb-4 mt-3">
            <div class="col-md-12 text-center">
              <h1 class="logo">{{title}}</h1>
            </div>
          </div>
          <form>
            <div class="form-label-group">
              <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email Address">
              <label for="inputEmail">Email address</label>
            </div>
            <div class="form-label-group">
              <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password">
              <label for="inputPassword">Password</label>
            </div>
            <div class="col-md-12 text-center ">
              <button type="submit" class=" btn btn-block mybtn btn-primary text-uppercase">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>