<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="myform form">
        <div class="mb-4 mt-3">
          <div class="col-md-12 text-center">
            <div *ngIf="changePassError()">
              <p class="alert alert-danger text-center">{{hasErrorMessage}}</p>
            </div>
            <div *ngIf="changePassSuccess()">
              <p class="alert alert-success text-center">{{hasSuccessMessage}}</p>
            </div>
            <img class="logo mx-auto" src="assets/img/logo.png"> <br>
            <span class="d-inline navbar-brand brand h1 mx-auto">CHANGE PASSWORD</span>
          </div>
        </div>
        <form [formGroup]="changePassForm" (ngSubmit)=onSubmit()>
          <div class="form-label-group">
            <input type="password" name="oldPassword" class="form-control" id="inputOldPassword"
              placeholder="Old Password" formControlName="oldPassword" required
              [class.is-invalid]="oldPassword.invalid && oldPassword.touched">
            <div *ngIf="oldPassword.invalid && oldPassword.touched">
              <small *ngIf="oldPassword.errors?.required" class="text-danger"> Old Password is required</small>
              <small *ngIf="oldPassword.errors?.minlength" class="text-danger"> Old Password must be at least 6
                characters</small>
            </div>
          </div>
          <div class="form-label-group">
            <input type="password" name="newPassword" id="inputNewPassword" class="form-control"
              placeholder="New Password" formControlName="newPassword" required
              [class.is-invalid]="newPassword.invalid && newPassword.touched">
            <div *ngIf="newPassword.invalid && newPassword.touched">
              <small *ngIf="newPassword.errors?.required" class="text-danger"> New Password is required</small>
              <small *ngIf="newPassword.errors?.minlength" class="text-danger"> New Password must be at least 6
                characters</small>
            </div>
          </div>
          <div class="form-label-group">
            <input type="password" name="confirmPassword" id="inputConfirmPassword" class="form-control"
              placeholder="Confirm Password" formControlName="confirmPassword" required
              [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched || changePassForm.errors?.misMatch">
            <div *ngIf="confirmPassword.invalid && confirmPassword.touched || changePassForm.errors?.misMatch">
              <small *ngIf="confirmPassword.errors?.required" class="text-danger"> Confirm Password is
                required</small>
              <small *ngIf="confirmPassword.errors?.minlength" class="text-danger"> Confirm Password must be at least
                6
                characters</small>
              <small *ngIf="changePassForm.errors?.misMatch && !confirmPassword.errors?.minlength" class="text-danger">
                Passwords do not match</small>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <button [disabled]="!changePassForm.valid" type="submit"
              class="btn btn-block mybtn btn-primary text-uppercase">Change Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>